
*{
    margin: 0;
    font-family: poppins;
}
.container0 {
    background-color: #96bcdb;
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    
}
.container2{
    height: 500px;
    width: 100%;
    background-color: #ffffff;
}
.container1{
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: 100%;
    margin: auto;
}
.containerheadline{
    background-color: #ffffff;
    margin-top: 80px;
    align-self: center;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}
.teksheading{
    font-family: poppins;
    font-size: 100px;

}
.container3{
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

.container4{
    margin-left: 15px;
    height: 100%;
    width: 45%;
    background-color: #eef5fd;
}
.container5{
    margin-right: 15px;
    height: 100%;
    width: 45%;
    align-items:flex-end;
    background-color: #eef5fd;
}
.bunder{
    margin-top: 28px;
    margin-left: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffffff;
}
.teksheading{
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
    font-size:xx-large;
}
.part{
    width: 10%;
    height: 100%;
    background-color: #ffffff;
    
}
.gambaratas{
    width: 100%;
    height: 115%;
}
.gambarheadline{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}